.container {
    padding: 1% 5%;
}

.saved-content {
    display: grid;
    width: 90%;
    column-gap: 1vh;
    row-gap: 1vh;
    grid-template-columns: repeat(auto-fill, 300px);
}
.empty{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%,0);
    width: 80%;
    justify-content: center;
}

mat-card {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-card-title {
    align-items: center;
    display: flex;
}

p {
    align-items: center;
    display: flex;
    font-size: 16px;
}

.change {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.quantity {
    justify-content: flex-end;
    width: calc(50% - 30px);
}

.arrow-icon {
    justify-content: center;
    width: 60px;
}

.value {
    justify-content: flex-start;
    width: calc(50% - 30px);
}

#del {
    color: #96031A
}

@media (max-width: 500px) {
    .saved-content {
        grid-template-columns: repeat(auto-fill, 80vw);
    }
    .arrow-icon{
        width: 40px;
    }
}