mat-sidenav {
    width: 30%;
}

mat-sidenav {
    margin-top: 64px;
}

mat-sidenav-content {
    height: calc(100vh - 64px);
}
.sidenav-div{
    height: calc(100vh - 64px);
    align-content: center;
}

@media (max-width: 599px) {
    mat-sidenav {
        width: 80%;
    }

    mat-sidenav {
        margin-top: 56px;
    }

    mat-sidenav-content {
        height: calc(100vh - 56px);
    }
    .sidenav-div{
        height: calc(100vh - 56px);
        border: 1px solid black;
    }
}