mat-sidenav {
    width: 30%;
    background-color: #475841;
}

mat-toolbar {
    background-color: #0F172A;
}

mat-sidenav {
    margin-top: 64px;
}

mat-sidenav-content {
    height: calc(100vh - 64px);
    color: #0F172A;
    background-color: #E4F0FF;
}

.sidenav-div {
    height: calc(100vh - 64px);
    align-content: center;
}

#menu {
    color: #CED0CE;
}

@media (max-width: 599px) {
    mat-sidenav {
        width: 80%;
    }

    mat-sidenav {
        margin-top: 56px;
    }

    mat-sidenav-content {
        height: calc(100vh - 56px);
    }

    .sidenav-div {
        height: calc(100vh - 56px);
    }
}