<mat-toolbar>
	<mat-toolbar-row>
		<button mat-icon-button onclick="this.blur()">
			<mat-icon id="menu" (click)="sidenav.toggle();">menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #sidenav mode="over" fixedInViewport="true">
		<mat-nav-list>
			<a style="color: #CED0CE;" mat-list-item (click)="sidenav.toggle();" routerLink="main">Kezdőlap</a>
			<a style="color: #CED0CE;" mat-list-item (click)="sidenav.toggle();" routerLink="graph">Grafikon</a>
			<a style="color: #CED0CE;" mat-list-item (click)="sidenav.toggle();" routerLink="saved">Mentett előzmények</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="sidenav-div">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>