.content {
    position: absolute;
    width: 50%;
    height: 30vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.input{
    width: 69%;
    padding-right: 1%;
}
.select{
    width: 30%;
}
.mat-field-holder {
    flex-direction: row;
    text-align: center;
    width: 100%;
}
.fav-icon{
    float: right;
}

@media (max-width: 700px) {
    .content{
        width: 80%;
    }
}
@media (max-width: 599px) {
    .content{
        width: 100%;
    }
}