.content {
    position: absolute;
    border: 1px solid black;
    width: 50%;
    height: 30vh;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}
.input{
    width: 70%;
}
.select{
    width: 30%;
}
.mat-field-holder {
    flex-direction: row;
    text-align: center;
    width: 100%;
    border: 1px solid black;

}